.filters .amenities {
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #ddd;
  }

  .filters .locations:hover .popover,
  .filters .amenities:hover .popover {
    margin-left: auto;
    position: relative;
    width: 50%;
    z-index: 1;
  }

  .filters .amenities:hover {
    border-top: 1px solid #ddd;
  }
}
